.listadoActas {
    padding: 20px;
    height: 90%;
}

.agregarActa {
    border: solid 1px #000;
    display: flex;
    align-items: center;
    text-align: center;
    margin: center;
}

.btn-floating{
    margin: auto !important;
} 
