*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



main {
    width: 100%;
}



input[type="time"] {
    cursor: pointer;
    &::-webkit-calendar-picker-indicator {
        background: none;
    }
}

.tox-dialog {
    z-index: 100;
}